<h2>Produt</h2>

<button [routerLink]='["/product-form"]' class="btn btn-primary">Add produc</button>

<p *ngIf="!(produts && produts.length)">
load products...
</p>

<table class="table" *ngIf="(produts && produts.length)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Date</th>
    </tr>
  </thead>
  <thead>
    <tbody>
      <tr *ngFor="let product of produts">
        <td>{{product.name}}</td>
        <td>{{product.quuantity}}</td>
        <td>{{product.quuantity | date : 'dd-MM-yyyy'}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]='["/product-edit/" + product.productId ]'>Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
       
      </tr>
    </tbody>
  </table>
